@media only screen and (min-width: 900px) {
   
    :root {
        --primary-color: #3d515a; 
        --secondary-color: #a7c7c7; 
        --tertiary-color: #d8f3f3;
        --white: white;
    }
    
    .title {
        font-size: 27px;
    }

    .hero-img {
        content: url("images/hero.webp");
        width: 100%;
    }

    .hamburger {
        display: none;
    }

    #cards.grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .navigation {
        display: block;
        background: none;
        grid-column: 3/4;
    }

    .navigation ul {
        display: flex;
        justify-content: right;
        gap: 5px;

    }

    .navigation a {
        background-color: var(--tertiary-color);
        font-size: large;
        padding: 3px 10px 5px 10px;
        border-radius: 7px;
    }

}