
/********** WDD231 FINAL PROJECT ***********/

/************* COLORS &FONT ****************/

:root {
    --text-color: #000000;
    --primary-color: #95D5B2;
    --secondary-color: #2D6A4F;
    --tertiary-color: #FAF3E0;
    --highlight-color: #D4A373;
    --dark-highlight-color: #4A3F35;
    --special-color: #d2f5e2;
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
}
  
.ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
}


/************* HEADER *****************/

header {
    background-color: var(--primary-color);

    display: grid;
    grid-template-columns: 60px 3fr 60px;
    border-bottom: 1px solid var(--dark-highlight-color);
    
}

header img {
    display: block;
    max-width: 50px;
    margin: 10px;
    padding-left: 10px;
    align-self: center;
    justify-self: center;
    
    
}

header h1 {
    text-align: center;
    padding: 0 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}

.small-word {
    font-size: 1.2rem;
}

.hamburger {
    background: none;
    border: none;
    font-size: 3rem;
    cursor: pointer;
    display: flex;
    justify-content: right;
    align-items: center;
}

.hamburger::before {
    content: "\2630";
    width: 44px;
    height: 44px;
}

.hamburger.show::before {
    content: "\00d7";
}


nav a:hover {
    background-color: var(--special-color);
    font-size: 1.5rem;
}

/* .navigation li.current a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var();
} */

.navigation {
    display: none;
    grid-column: 1 / -1;
}

.navigation.show {
    display: block;
    background-color: var(--tertiary-color);
    margin-top: 10px;
    border-top: 2px solid var(--secondary-color);
}

.navigation li.current a{
    font-weight: 700 ;
    text-decoration: underline;
    
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: var(--text-color);
    border-bottom: solid 1px var(--secondary-color);
    font-size: 1.2rem;
    font-weight: 600;
}



/************* FOOTER ****************/

footer {
    background-color: var(--primary-color);
    text-align: center;
    font-weight: 600;
    padding: 2px 10px 10px 10px ;
    margin-top: 1rem;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    margin: 16px 0;
}

.social a img{
    width: 44px;
    height: 44px;
    border: 1px solid transparent;
    border-radius: 7px;
}

.social a:hover {
    background-color: var(--tertiary-color);
    border-radius: 13px solid transparent;
}

.student-info p {
    margin: 8px 0;
}

.student-info {
    border-top: 1px solid var(--secondary-color);
}

/************* HOME ******************/

.intro {
    background-color: var(--tertiary-color);
    display: block;
    text-align: center;
    margin: 1rem;
    padding: 15px;
    border: 1px solid var(--dark-highlight-color);
    border-radius: 10px;
}

.intro h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.intro p {
    font-size: 1.1rem;
}

.intro-border {
    background-color: var(--primary-color);
    margin: 1rem;
    border-radius: 10px;
    border: 1px solid var(--secondary-color);
}

.allergens {
    background-color: var(--primary-color);
    display: block;
    margin: 1rem;
    padding: 5px 15px;
    border: 1px solid var(--dark-highlight-color);
    border-radius: 10px;
}

.allergen-card {
    cursor: pointer;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid var(--secondary-color);
    background-color: var(--tertiary-color);
    border-radius: 10px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .2)
}

.allergen-card figcaption {
    font-size: 1.5rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.allergen-card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    border-radius: 10px;
}

.allergen-card img {
    border-radius: 100px;
    box-shadow:  0 0 10px rgba(0, 0, 0, .5);
}