/********************** ROOT **********************/

:root {
    --primary-color: #3d515a; 
    --secondary-color: #83A0A0; 
    --tertiary-color: #d5eeee;
}

* {
    font-family: "IBM Plex Serif", serif; 
}

/********************** FONT **********************/

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .ibm-plex-serif-semibold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .ibm-plex-serif-bold {
    font-family: "IBM Plex Serif", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .ibm-plex-serif-regular-italic {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: italic;
  }
  


/********************** HEADER **********************/

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    color: var(--primary-color);
    background-color: var(--primary-color);
    padding: 10px 0 10px 0;
}

header span {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--tertiary-color);
    padding-left: 10px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 0 3px 10px;
}



/******************** NAVIGATION ********************/

.hamburger {
    background: none;
    border: none;
    font-size: 2rem;
    color: var(--tertiary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
}

.hamburger.show::before {
    content: "\00d7";
}

nav a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.navigation li.current a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--secondary-color);

}


.navigation {
    display: none;
    
}

.navigation.show {
    display: block;
}

.navigation li.current a{
    font-weight: 900 ;
    background-color: var(--tertiary-color);
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.navigation a {
    display: block;
    padding: 10px 10px;
    text-decoration: none;
    color: var(--primary-color);
    border-bottom: solid 1px var(--tertiary-color);
    font-size: 1.2rem;
    font-weight: 600;
}

/******************** MAIN ********************/

main {
    padding-left: 10px;
    color: var(--primary-color);
}






/******************** FOOTER ********************/

footer {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    padding: 10px 0;
    text-align: center;
}




