
/************ COLORS / FONTS *******************/

:root {
    --primary-color: #131662;
    --secondary-color: #d8dadb; 
    --tertiary-color: #d8f3f3;
}

*{
    font-family: IBM Plex Serif;
    box-sizing: border-box;   
}

/**************** HEADER *******************/

header{
    display: grid;
    grid-template-columns: 24px auto 44px;
    align-items: end;
    padding: 5px 0 5px 10px;
    border-bottom: solid 1px var(--secondary-color);
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
}

header span {
    font-size: 1.2rem;
    color: var(--primary-color);
}

/*************** NAVIGATION ******************/

.hamburger {
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary-color);
}

.navigation li.current {
    background-color: var(--secondary-color);
}

.navigation a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}




/*************** MAIN ******************/