/* --primary-color: #131662;
   --secondary-color: #d8dadb; 
   --tertiary-color: #d8f3f3; */


@media only screen and (min-width: 38rem) {

    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        border-bottom: solid 1px #d8dadb;
    }

    .navigation ul {
        display: flex;
    }

    .navigation a {
        border: none;
    }
}