:root {
    --primary-color: #1b249c;
    --secondary-color: #c7caed;
    --outline-color: rgb(54, 58, 172)
}

header {
    color: var(--primary-color);
    display: block;
    text-align: center;
    
}

h1 {
    margin: 10px 0 0 0;
    

}

h1, h2 {
    color: var(--primary-color);
    -webkit-text-stroke: 1px rgb(54, 58, 172);
}

main {
    box-shadow: 0 0 15px rgba(0,0,0,0.6);
    margin: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 5px;
}

.container section {
    background-color: var(--secondary-color);
    border: 1px solid var(--primary-color);
    display: flex; 
    align-items: center;
    flex-direction: column;


}

.container img {
    width: 60%;
    height: auto;
    margin: 5px 5px 13px 0;
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
}

.container p, h2 {
    display: flex;
    justify-content: center;
    margin: 7px 0

}

.container p {
    margin: 0;
}

footer {
    display: flex;
    justify-content: center;
    margin: 10px;
}